@import "tailwindcss";

@theme {
  --animate-turn-up: turnUp 0.3s ease-in-out forwards;
  --animate-turn-down: turnDown 0.3s ease-in-out forwards;
  --animate-fade-in: fadeIn 0.3s ease-in-out forwards;
  --animate-fade-out: fadeOut 0.3s ease-in-out forwards;
}

@keyframes turnUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes turnDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}